<% var pageTitle = "トップ"; -%>
<!DOCTYPE html>
<html dir="ltr" lang="ja">
<head>
<% include ./component/_head %>
</head>
<body>
<% include ./component/_header %>
<p>test</p>

<% include ./component/_footer %>

</body>
</html>
